
:root {
    --side-margin-content: 60px;
    --main-blue: #0800a8ff;
    --text-blue: #060080;
}

body {margin: 0; background-color: #f0f0f0; color: var(--main-blue); font-family: Arial, Helvetica, sans-serif;}

#opening-graphic {
    position: relative
}

#opening-image {
    border-radius: 35px;
    width: calc(100vw - 2*25px);
    height: 80vh;
    margin: 20px 25px;
    background-image: url("media/13026177-9ebf-4bad-bd69-9b232a638f72.webp");
    background-size: cover;
    filter: url(#duotone-deep-blue-white);
}

#opening-slogan {
    font-size: 7em;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 0.8em;

    color: #fafafa;

    position: absolute;
    top: 30vh;
    left:50px;

    margin: 30px;
}

.homepage-document{
    top: -20vh;
    position: relative;
}


.actionbuttons a {
    width: fit-content;

    
    color:inherit;
    text-decoration: none;

    display: flex;
    align-items: center;

    cursor: pointer;
    white-space: nowrap;
    border-radius: 30px;
    border: solid 2px var(--main-blue);
    padding: 10px 16px 11px 16px;
    margin-right: 10px;
    font-weight: bold;
}

.actionbuttons a:hover {
    background-color: rgba(0,0,0,0.1);
}

.actionbuttons a .icon{
    margin-left:2px;
    width: 1em;
    height: 1em;
    background-color: var(--text-blue);
}


.padding-box {
    margin: 0 25px;
}

#content-box {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    max-width: 80ch; 
    margin: 50px auto;
    padding-bottom: 50px;

    color: var(--text-blue); /* darker version of --main-blue */
}

#content-box h2{
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    line-height: 1em;;
    margin: 30px 0px 5px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

@media only screen and (max-width: 480px) {
    :root {
    --side-margin-content: 24px;
    }

    #opening-image {
        height: 400px;
        width: calc(100vw - 2*15px);
        margin: 15px 15px;
        border-radius: 11px
    }

    #opening-slogan{
        font-size: 3.5em;
        line-height: 0.9em;
        top:240px;
        left:10px;
        text-shadow: 0 0 2px rgba(0,0,0,0.3);
    }

    .padding-box {
        margin: 0 13px;
    }

    .homepage-document{
        top: 0;
    }

    #content-box {
        padding: 14px;
        margin-top: 25px;
    }

    #content-box h2{
        font-size: 2.5em; 
        margin: 0;
    }
}